$basefont: "Ailron", sans-serif;


$black11: #111111;
$gray8F: #8f8f8f;
$black15: #151515;
$greenclr: #5ce482;
$grayAD: #adb3ab;
$gray3C: #3c403c;
$white: white;
$black: black;
$whiteD7: #d7d5ff;
$whiteEC: #eceeec;
$whiteD1: #d1d5db;
$black19: #191919;
$gray68: #686868;
$greenclr2: #34F45F;
$dullgreen: #004B11;

$gradient: linear-gradient(79.16deg,
                rgba(185, 250, 234, 1) 0%,
                rgba(104, 252, 181, 1) 49.54272508621216%,
                rgba(113, 244, 51, 1) 100%);