@import "../../../public/theme/_var.scss";


.backed_by_section {
    position: relative;
    padding: 4rem 0;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        width: 38.3rem;
        height: 73rem;
        background-image: url(../../../public/images/rupee-symbol-2.png);
        background-size: contain;
        pointer-events: none;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
    }

    .backed_by_content {
        h2 {
            font-size: 4.8rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.4rem;
            max-width: 48.2rem;
            font-weight: 400;
            color: rgba($white, 0.4);
        }
    }
}